div{
    width: 300px;
    height: 300px;
    background-color: red;
    animation-name: d;
    animation-delay: 0.1s;
    animation-duration: 4s;
    animation-iteration-count: 10;
}

@keyframes d{
    0%{
        margin-left: 0px;
    }

    25%{
        margin-left: 300px;
        margin-top: 0px;
        background-color: orange;
    }

    50%{
        margin-top: 200px;
        margin-left: 300px;
        background-color: green;
    }

    75%{
        margin-top: 200px;
        margin-left: 0px;
        background-color: blue;
    }

    100%{
        margin-top: 0px;
        margin-left: 0px;
    }
}